* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo span {
    color: #00a8ff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #1e1e1e;
    color: white;
}

.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00a8ff;
    margin-bottom: 20px;
}

.hero span {
    color: #00a8ff;
    font-weight: bold;
}

/* ABOUT */
.about {
    padding: 50px 20px;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

/* PROJECTS */
.projects {
    padding: 50px 20px;
    background: #f3f3f3;
}

.project-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    width: 280px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.project-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* CONTACT / MEDIA SOSIAL */
.contact {
    text-align: center;
    margin-top: 50px;
    padding: 40px 20px;
    background: #111;
    color: white;
}

.contact h2 {
    font-size: 2rem;
    color: #00a8ff;
    margin-bottom: 25px;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #222;
    padding: 15px 25px;
    border-radius: 8px;
    border: 2px solid #00a8ff;
    color: #00a8ff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 1.1rem;
}

.contact-box i {
    font-size: 1.2rem;
}

.contact-box:hover {
    background: #00a8ff;
    color: #000;
    box-shadow: 0 0 15px #00a8ff;
}
